
<h2>LISTA DE PRODUCTOS</h2>
<div id="productsView">
    {{#if products.length }}
        {{#each products}}
            <h3>Producto:{{product.title}} - cantidad:{{quantity}} - precio:{{product.price}}</h3>
        {{/each}}
    {{else}}
        <p>No products Available</p>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cartProducts.js"></script>