<h2>Alta Producto</h2>
<form id="formularioAltaProducto">
    title: <input type="text" name="title" id="title">
    description: <input type="text" name="description" id="description">
    code: <input type="text" name="code" id="code">
    price: <input type="number" name="price" id="price">
    stock: <input type="number" name="stock" id="stock">
    category: <input type="text" name="category" id="category">
    thumbnails: <input type="text" name="thumbnails" id="thumbnails">
    <input type="submit" value="Alta Producto">
</form>
<br>
<br>
<h2>Baja Producto</h2>
<form id="formularioBajaProducto">
    Ingrese el ID de producto a eliminar: <input type="text" name="id" id="id">
    <input type="submit" value="Baja Producto">
</form>

<h2>Lista Productos</h2>
<div id="productsView"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script><h2>Alta Producto</h2>
<form id="formularioAltaProducto">
    title: <input type="text" name="title" id="title">
    description: <input type="text" name="description" id="description">
    code: <input type="text" name="code" id="code">
    price: <input type="number" name="price" id="price">
    stock: <input type="number" name="stock" id="stock">
    category: <input type="text" name="category" id="category">
    thumbnails: <input type="text" name="thumbnails" id="thumbnails">
    <input type="submit" value="Alta Producto">
</form>
<br>
<br>
<h2>Baja Producto</h2>
<form id="formularioBajaProducto">
    Ingrese el ID de producto a eliminar: <input type="text" name="id" id="id">
    <input type="submit" value="Baja Producto">
</form>

<h2>Lista Productos</h2>
<div id="productsView"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>